<%= form_with(model: na_imprensa) do |form| %>
  <% if na_imprensa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(na_imprensa.errors.count, "error") %> prohibited this na_imprensa from being saved:</h2>

      <ul>
        <% na_imprensa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
