<p style="color: green"><%= notice %></p>

<%= render @na_imprensa %>

<div>
  <%= link_to "Edit this na imprensa", edit_na_imprensa_path(@na_imprensa) %> |
  <%= link_to "Back to na imprensas", na_imprensas_path %>

  <%= button_to "Destroy this na imprensa", @na_imprensa, method: :delete %>
</div>
