<%= form_with(model: colega_tradutor) do |form| %>
  <% if colega_tradutor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(colega_tradutor.errors.count, "error") %> prohibited this colega_tradutor from being saved:</h2>

      <ul>
        <% colega_tradutor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url_page, style: "display: block" %>
    <%= form.text_field :url_page %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
