<%= form_with(model: link_externo, class:"form-links") do |form| %>
  <% if link_externo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link_externo.errors.count, "error") %> prohibited this link_externo from being saved:</h2>

      <ul>
        <% link_externo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-controller">
    <div class="form-input-material">

      <div class="field">
        <%= form.text_field :title, class:"input-field", autocomplete:"off", placeholder:"Titulo", required: true %>
      </div>
    </div>

    <div class="form-input-material">
      <div class="field">
        <%= form.text_field :url_page, class:"input-field", autocomplete:"off", placeholder:"Link da pagina", required: true %>
      </div>
    </div>

    <div class="form-input-material">
      <%= form.submit %>
    </div>


  </div>
<% end %>
