<div class="container services mt-2">
    <div class="d-flex justify-content-center">
        <div class="services-svg"></div>
    </div>
</div>
<div class="container-fluid services">
    <div class="row">
        <div class="col-sm-4">
            <h3>SERVICE NAME</h3>
            <div class="text-services">
                <p><%= @text_home.service1 %></p>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>SERVICE NAME</h3>
            <div class="text-services">
                <p><%= @text_home.service2 %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>SERVICE NAME</h3>
            <div class="text-services">
                <p><%= @text_home.service2 %></p>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>SERVICE NAME</h3>
            <div class="text-services">
                <p><%= @text_home.service1 %></p>
            </div>
        </div>
    </div>
</div>
<div class="container services ">
    <div class="d-flex justify-content-center">
        <div class="jobs-svg"></div>
    </div>
</div>
<div class="container-fluid services">
    <div class="row services-line">
        <div class="col-sm-8 member-text">
            <%= @text_home.member%>
        </div>
    </div>
</div>
