<%= form_with(model: parceiro, class:"form-parceiros") do |form| %>
  <% if parceiro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parceiro.errors.count, "error") %> prohibited this parceiro from being saved:</h2>

      <ul>
        <% parceiro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-controller">

    <div class="form-input-material">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="form-input-material">
      <%= form.label :url_page, style: "display: block" %>
      <%= form.text_field :url_page %>
    </div>

    <div class="form-input-material">
      <%= form.submit %>
    </div>
  </div>
<% end %>
