<%= form_with(model: @book, class:"form") do |form| %>
  <% if @book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-controller">
    <h3 class="text-center">Criar novo Livro</h3>
    <div class="form-input-material">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="form-input-material">
      <%= form.label :author %>
      <%= form.text_field :author %>
    </div>
      <div class="form-input-material">
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>
    <div class="form-input-material">
      <%= form.label :link_page %>
      <%= form.text_field :link_page %>
    </div>
    <div class="form-input-material">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <button type="submit" class="form-input-material"><%= form.submit %></button>
  </div>
<% end %>

