<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                <%= @user.full_name %>
                            </h6>
                        </div>
                    </li>
                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Minhas informaçoes</span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="<%= edit_user_url(current_user.id) %>">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Admin Panel</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-2 col-md-6 mb-4">
                        <%= render "books/form", books: @books %>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-2 col-md-6 mb-4">
                        <%= render "conversa_passadas/form", conversa_passada: @conversa_passada %>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-2 col-md-6 mb-4">
                    <%= render "colega_tradutors/form", colega_tradutor: @colega_tradutor %>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-2 col-md-6 mb-4">
                    <%= render "link_externos/form", link_externo: @link_externo %>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                    <%= render "na_imprensas/form", na_imprensa: @na_imprensa %>
                    </div>

                    <div class="col-xl-2 col-md-6 mb-4">
                    <%= render "parceiros/form", parceiro: @parceiro %>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-sm-2">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Meus livros</h6>
                                <div class="dropdown no-arrow">
                                    <%= @books.count %>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <% @books.each do |book| %>
                                <div class="d-flex">
                                    <a href="#" class="adm-text-title list-group-item list-group-item-action ">
                                        <%= book.title %>
                                    </a>
                                    <%= link_to 'Delete', book_path(book.id),data: { "turbo-method": :delete },
                                            method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <!-- Tradutores -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Conversas</h6>
                                <%= @conversa_passadas.count %>
                            </div>
                            <% @conversa_passadas.each do |conversa| %>
                                <div class="d-flex">
                                    <a href="" class="adm-text-title list-group-item-action" target="_blank">
                                        <%= conversa.title %>
                                    </a>
                                    <%= link_to 'Delete', colega_tradutor_path(conversa.id),data: { "turbo-method": :delete },
                                    method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <!-- Tradutores -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Colegas tradutores</h6>
                                <%= @colega_tradutors.count %>
                            </div>
                            <% @colega_tradutors.each do |colega| %>
                                <div class="d-flex">
                                    <a href="" class="adm-text-title list-group-item list-group-item-action" target="_blank">
                                        <%= colega.name %>
                                    </a>
                                    <%= link_to 'Delete', colega_tradutor_path(colega.id),data: { "turbo-method": :delete },
                                    method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- LINKS EXTERNOS -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Links externos</h6>
                                <%= @link_externos.count %>
                            </div>
                            <!-- Card Body -->
                            <% @link_externos.each do |link| %>
                                <div class="d-flex">
                                    <a href="<%= link.url_page %>" class="adm-text-title list-group-item list-group-item-action" target="_blank">
                                        <%= link.title %>
                                    </a>
                                    <%= link_to 'Delete', link_externo_path(link.id),data: { "turbo-method": :delete },
                                        method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-lg-2 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Imprensa</h6>
                                <%= @na_imprensas.count %>
                            </div>
                            <% @na_imprensas.each do |imprensa| %>
                                <div class="d-flex">
                                    <a href="" class="adm-text-title list-group-item-action" target="_blank">
                                        <%= imprensa.title %>
                                    </a>
                                    <%= link_to 'Delete', na_imprensa_path(imprensa.id),data: { "turbo-method": :delete },
                                        method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="col-lg-2 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Parceiros</h6>
                                <%= @parceiros.count %>

                            </div>
                            <% @parceiros.each do |parça| %>
                                <div class="d-flex">
                                    <a href="" class="adm-text-title list-group-item list-group-item-action" target="_blank">
                                        <%= parça.name %>
                                    </a>
                                    <%= link_to 'Delete', parceiro_path(parça.id),data: { "turbo-method": :delete },
                                        method: :delete, class:'button' %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>













