<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= post.author %>
  </p>

  <p>
    <strong>Intro:</strong>
    <%= post.intro %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
